* {
  padding: 0;
  margin: 0;
}

body {
  /*VISTA MOBILE*/
  /*De 340px a 576px*/
  /*De 576px a 768px*/
  /*De 768 px a 992 px*/
  /* De 992px a 1200 px*/
}

body .header {
  font-family: "Poppins", sans-serif;
}

body .header .navbar-expand-lg .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .logo .logo__imagen {
  width: 50px;
  padding-left: 20px;
}

body .header .logo .navbar-brand {
  padding-left: 10px;
}

body .containercarousel {
  height: 87vh;
}

body .forma {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  width: 100% 100%;
  padding-top: 10px;
}

body .footer .texto {
  font-size: 16px;
}

body .footer .email {
  padding-left: 10px;
}

body .footer .logosredes {
  height: 100%;
}

body .footer .logosredes .logosredes__wa {
  width: 20px;
}

body .footer .logosredes .logosredes__instagram {
  width: 20px;
  padding-left: 2px;
}

body .footer .logosredes .logosredes__face {
  width: 20px;
  padding-left: 2px;
}

body .main {
  margin: 0;
  min-height: 85vh;
  display: -ms-grid;
  display: grid;
  background-color: black;
  color: whitesmoke;
  -ms-grid-columns: repeat 2, 1fr;
      grid-template-columns: repeat 2, 1fr;
  -ms-grid-rows: repeat 6, 1fr;
      grid-template-rows: repeat 6, 1fr;
      grid-template-areas: "envianos foto" "nombre   foto" "correo   foto" "mensaje  foto" "mensaje  foto" "enviar   celular";
}

body label {
  display: block;
}

body .envianos {
  padding-top: 30px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: envianos;
  text-align: center;
}

body .nombre {
  text-align: center;
}

body .correo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: correo;
  text-align: center;
}

body .mensaje {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: mensaje;
  text-align: center;
}

body .enviar {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: enviar;
  text-align: center;
}

body .enviar a:hover {
  font-size: 15px;
  font-weight: bold;
}

body .enviar .boton {
  width: 100px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

body .enviar .boton .a {
  color: black;
  text-decoration: none;
}

body .foto {
  padding-top: 30px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  grid-area: foto;
}

body .celular {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: celular;
}

body .pasion {
  margin: 0;
  min-height: 85vh;
  display: -ms-grid;
  display: grid;
  background-color: black;
  color: whitesmoke;
  font-family: "Dosis", sans-serif;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "pasionfoto   pasiontitulo" "pasionfoto   pasiontexto" "pasionfoto   pasiontexto";
}

body .pasionfoto {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: pasionfoto;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .pasiontitulo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pasiontitulo;
  text-align: center;
  padding-top: 15px;
}

body .pasiontexto {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: pasiontexto;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 60%;
}

body #grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 210px;
  gap: 10px;
}

body #grilla .imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body #grilla .galeria:nth-child(1) {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
}

body #grilla .galeria:nth-child(2) {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

body #grilla .galeria:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

body #grilla .galeria:nth-child(4) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

body #grilla .texto1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  border-radius: 0;
  background: black;
  color: white;
}

body #grilla .texto1 a:hover {
  color: black;
  font-weight: bold;
}

body #grilla .texto1 .texto {
  font-family: "Dosis", sans-serif;
  width: 90%;
  text-align: center;
}

body #grilla .texto1 .titulo {
  font-family: "Dosis", sans-serif;
  text-align: center;
}

body #grilla .texto1 .boton {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 16px;
}

body #grilla .texto1 .boton a {
  color: black;
  text-decoration: none;
}

body #grillaprensa {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 10px;
}

body #grillaprensa .prensa {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
}

body #grillaprensa .fotoprensa:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  opacity: 1;
}

body #grillaprensa .fotoprensa:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  opacity: 1;
}

body #grillaprensa .fotoprensa:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  opacity: 1;
}

body #grillaprensa .fotoprensa:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  opacity: 1;
}

body #grillaprensa .fotoprensa:nth-child(5) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  opacity: 1;
}

body #grillaprensa .fotoprensa:nth-child(6) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  opacity: 1;
}

body #grillaprensa .fotoprensa:nth-child(7) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  opacity: 1;
}

body #grillaprensa .fotoprensa:nth-child(8) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  opacity: 1;
}

body #grillaprensa .fotoprensa:nth-child(9) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

body #grillaprensa .fotoprensa:nth-child(10) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

body #grillaprensa .fotoprensa:nth-child(11) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  opacity: 1;
}

body #grillaprensa .fotoprensa:nth-child(12) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  opacity: 1;
}

body #grillaprensa .textoprensa {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background: black;
  font-family: "Dosis", sans-serif;
  border: 1px solid black;
  color: white;
}

body #grillaprensa .botonesprensa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #grillaprensa .botonesprensa a:hover {
  font-size: 15px;
  font-weight: bold;
}

body #grillaprensa .botonesprensa .botonprensa, body #grillaprensa .botonesprensa .botonprensa--inicio {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background-color: white;
}

body #grillaprensa .botonesprensa .botonprensa .a, body #grillaprensa .botonesprensa .botonprensa--inicio .a {
  color: black;
  text-decoration: none;
}

body #grillaprensa .botonesprensa .botonprensa--inicio {
  background-color: #eb6e44;
}

body #grillaprensa .botonesprensa .botonprensa--inicio .b {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 200px) and (max-width: 576px) {
  body .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .footer .texto {
    font-size: 8px;
  }
  body .footer .logosredes {
    padding-top: 1 px;
    margin-top: 1 px;
  }
  body .footer .logosredes__face {
    width: 5px;
  }
  body .footer .logosredes__instagram,
  body .footer .logosredes__wa {
    width: 4px;
  }
  body .containercarousel {
    padding-top: 60px;
  }
  body .alinea {
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .forma {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 500px;
  }
  body .main {
    margin: 0;
    min-height: 85vh;
    display: -ms-grid;
    display: grid;
    background-color: black;
    color: whitesmoke;
    -ms-grid-columns: repeat 1, 1fr;
        grid-template-columns: repeat 1, 1fr;
    -ms-grid-rows: 250px, auto;
        grid-template-rows: 250px, auto;
        grid-template-areas: "foto" "envianos" "celular" "nombre" "correo" "mensaje" "mensaje" "enviar";
  }
  body label {
    display: block;
  }
  body .envianos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: envianos;
    text-align: center;
  }
  body .nombre {
    text-align: center;
  }
  body .correo {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: correo;
    text-align: center;
  }
  body .mensaje {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: mensaje;
    text-align: center;
  }
  body .enviar {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: enviar;
    text-align: center;
  }
  body .foto {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: foto;
    width: 35%;
    height: 80%;
    -o-object-fit: cover;
       object-fit: cover;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  body .celular {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: celular;
    text-align: center;
  }
  body .pasion {
    margin: 0;
    min-height: 85vh;
    display: -ms-grid;
    display: grid;
    background-color: black;
    color: whitesmoke;
    font-family: "Dosis", sans-serif;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 30px 250px auto;
        grid-template-rows: 30px 250px auto;
        grid-template-areas: "pasiontitulo" "pasionfoto" "pasiontexto";
  }
  body .pasionfoto {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: pasionfoto;
    width: 35%;
    height: 80%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .pasiontitulo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: pasiontitulo;
    text-align: center;
    padding-top: 10px;
  }
  body .pasiontexto {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: pasiontexto;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 90%;
  }
  body #grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    gap: 10px;
  }
  body #grilla .imagen {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body #grilla .galeria:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body #grilla .galeria:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }
  body #grilla .galeria:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6/8;
  }
  body #grilla .galeria:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }
  body #grilla .texto1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid black;
    border-radius: 0;
    background: black;
    color: white;
  }
  body #grilla .texto1 .texto {
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    width: 90%;
    text-align: center;
  }
  body #grilla .texto1 .titulo {
    font-family: "Dosis", sans-serif;
    text-align: center;
  }
  body #grilla .texto1 .boton {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: white;
  }
  body #grilla .texto1 .boton a {
    color: black;
    text-decoration: none;
    font-size: 16px;
  }
  body #grillaprensa {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    grid-auto-rows: 200px;
    gap: 10px;
  }
  body #grillaprensa .prensa {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body #grillaprensa .fotoprensa:nth-child(1) {
    -ms-grid-row: 15;
    -ms-grid-row-span: 1;
    grid-row: 15/16;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(2) {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(3) {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(4) {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(6) {
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(7) {
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12/13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(8) {
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: 11/12;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(9) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  body #grillaprensa .fotoprensa:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  body #grillaprensa .fotoprensa:nth-child(11) {
    -ms-grid-row: 13;
    -ms-grid-row-span: 1;
    grid-row: 13/14;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(12) {
    -ms-grid-row: 14;
    -ms-grid-row-span: 1;
    grid-row: 14/15;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    opacity: 1;
  }
  body #grillaprensa .textoprensa {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    background: black;
    font-family: "Dosis", sans-serif;
    border: 1px solid black;
    color: white;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  body .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .footer .texto {
    font-size: 10px;
  }
  body .footer .logosredes {
    padding-top: 1 px;
    margin-top: 1 px;
  }
  body .footer .logosredes__face {
    width: 5px;
  }
  body .footer .logosredes__instagram,
  body .footer .logosredes__wa {
    width: 6px;
  }
  body .envianos h2 {
    font-size: 18px;
  }
  body .pasionfoto {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: pasionfoto;
    justify-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 40px;
    margin-left: 10px;
  }
  body .pasiontitulo {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: pasiontitulo;
    text-align: center;
    padding-top: 15px;
  }
  body .pasiontexto {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: pasiontexto;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
  }
  body #grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    gap: 10px;
  }
  body #grilla .imagen {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body #grilla .galeria:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body #grilla .galeria:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }
  body #grilla .galeria:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6/8;
  }
  body #grilla .galeria:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }
  body #grilla .texto1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid black;
    border-radius: 0;
    background: black;
    color: white;
  }
  body #grilla .texto1 .texto {
    font-family: "Dosis", sans-serif;
    width: 90%;
    text-align: center;
  }
  body #grilla .texto1 .titulo {
    font-family: "Dosis", sans-serif;
    text-align: center;
  }
  body #grilla .texto1 .boton {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: white;
  }
  body #grilla .texto1 .boton a {
    color: black;
    text-decoration: none;
    font-size: 16px;
  }
  body #grillaprensa {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 10px;
  }
  body #grillaprensa .prensa {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body #grillaprensa .fotoprensa:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(8) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  body #grillaprensa .fotoprensa:nth-child(10) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  body #grillaprensa .fotoprensa:nth-child(11) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(12) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    opacity: 1;
  }
  body #grillaprensa .textoprensa {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background: black;
    font-family: "Dosis", sans-serif;
    border: 1px solid black;
    color: white;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  body .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .footer .email {
    font-size: 12px;
  }
  body .footer .texto {
    font-size: 12px;
  }
  body .footer .logosredes {
    padding-top: 1 px;
    margin-top: 1 px;
  }
  body .footer .logosredes__face {
    width: 7px;
  }
  body .footer .logosredes__instagram,
  body .footer .logosredes__wa {
    width: 10px;
  }
  body .pasionfoto {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: pasionfoto;
    justify-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 40px;
    margin-left: 10px;
  }
  body #grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    gap: 10px;
  }
  body #grilla .imagen {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body #grilla .galeria:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body #grilla .galeria:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }
  body #grilla .galeria:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6/8;
  }
  body #grilla .galeria:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }
  body #grilla .texto1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid black;
    border-radius: 0;
    background: black;
    color: white;
  }
  body #grilla .texto1 .texto {
    font-family: "Dosis", sans-serif;
    width: 90%;
    text-align: center;
  }
  body #grilla .texto1 .titulo {
    font-family: "Dosis", sans-serif;
    text-align: center;
  }
  body #grilla .texto1 .boton {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: white;
  }
  body #grilla .texto1 .boton a {
    color: black;
    text-decoration: none;
    font-size: 16px;
  }
  body #grillaprensa {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 10px;
  }
  body #grillaprensa .prensa {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body #grillaprensa .fotoprensa:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(8) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  body #grillaprensa .fotoprensa:nth-child(10) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  body #grillaprensa .fotoprensa:nth-child(11) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    opacity: 1;
  }
  body #grillaprensa .fotoprensa:nth-child(12) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    opacity: 0.50;
  }
  body #grillaprensa .textoprensa {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background: black;
    font-family: "Dosis", sans-serif;
    border: 1px solid black;
    color: white;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  body .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .texto1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid black;
    border-radius: 0;
    background: black;
    color: white;
  }
  body .texto1 .texto {
    font-family: "Dosis", sans-serif;
    width: 90%;
    text-align: center;
  }
  body .texto1 .titulo {
    font-family: "Dosis", sans-serif;
    text-align: center;
  }
  body .texto1 .boton {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: white;
  }
  body .texto1 .boton a {
    color: black;
    text-decoration: none;
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */