* {
  padding: 0;
  margin: 0;
}

body {
  /*vista mobile*/
  /*De 340px a 576px*/
  /*De 576px a 768px*/
  /*De 768 px a 992 px*/
  /* De 992px a 1200 px*/
}

body .header {
  font-family: "Poppins", sans-serif;
}

body .header .navbar-expand-lg .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .logo .logo__imagen {
  width: 50px;
  padding-left: 20px;
}

body .header .logo .navbar-brand {
  padding-left: 10px;
}

body .containercarousel {
  height: 87vh;
}

body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  width: 100% 100%;
  padding-top: 10px;
}

body .footer .texto {
  font-size: 16px;
}

body .footer .email {
  padding-left: 10px;
}

body .footer .logosredes {
  height: 100%;
}

body .footer .logosredes .logosredes__wa {
  width: 20px;
}

body .footer .logosredes .logosredes__instagram {
  width: 20px;
  padding-left: 2px;
}

body .footer .logosredes .logosredes__face {
  width: 20px;
  padding-left: 2px;
}

body .main {
  margin: 0;
  min-height: 85vh;
  display: -ms-grid;
  display: grid;
  background-color: black;
  color: whitesmoke;
  -ms-grid-columns: repeat 2, 1fr;
      grid-template-columns: repeat 2, 1fr;
  -ms-grid-rows: repeat 6, 1fr;
      grid-template-rows: repeat 6, 1fr;
      grid-template-areas: "envianos foto" "nombre   foto" "correo   foto" "mensaje  foto" "mensaje  foto" "enviar   celular";
}

body label {
  display: block;
}

body .envianos {
  padding-top: 30px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: envianos;
  text-align: center;
}

body .nombre {
  text-align: center;
}

body .correo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: correo;
  text-align: center;
}

body .mensaje {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: mensaje;
  text-align: center;
}

body .enviar {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: enviar;
  text-align: center;
}

body .foto {
  padding-top: 30px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  grid-area: foto;
}

body .celular {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: celular;
}

body .pasion {
  margin: 0;
  min-height: 85vh;
  display: -ms-grid;
  display: grid;
  background-color: black;
  color: whitesmoke;
  font-family: "Dosis", sans-serif;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "pasionfoto   pasiontitulo" "pasionfoto   pasiontexto" "pasionfoto   pasiontexto";
}

body .pasionfoto {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: pasionfoto;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .pasiontitulo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pasiontitulo;
  text-align: center;
  padding-top: 15px;
}

body .pasiontexto {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: pasiontexto;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 60%;
}

body #grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "foto14 foto14 foto16" "foto5 texto1 foto16" "foto5 texto1 foto10";
  -ms-grid-rows: 2.24fr 1fr 1.52fr;
      grid-template-rows: 2.24fr 1fr 1.52fr;
  -ms-grid-columns: 1.33fr 1.9fr 1fr;
      grid-template-columns: 1.33fr 1.9fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 87vh;
}

body #grilla .foto--foto14 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: foto14;
}

body #grilla .foto--foto14 .logo__imagen {
  border: 1px solid black;
  border-radius: 22px;
}

body #grilla .foto--foto16 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: foto16;
}

body #grilla .foto--foto16 .logo__imagen {
  border: 1px solid black;
  border-radius: 22px;
}

body #grilla .foto--foto10 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: foto10;
}

body #grilla .foto--foto10 .logo__imagen {
  border: 1px solid black;
  border-radius: 22px;
}

body #grilla .foto--foto5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: foto5;
}

body #grilla .foto--foto5 .logo__imagen {
  border: 1px solid black;
  border-radius: 22px;
}

body #grilla .texto1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: texto1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  padding: 70px;
  background: url(../assets/img/textura.jpg);
}

body #grilla .texto1 .texto {
  font-family: "Dosis", sans-serif;
  width: 100%;
  text-align: center;
}

body #grilla .texto1 .titulo {
  font-family: "Dosis", sans-serif;
  text-align: center;
}

body #grilla .texto1 .boton {
  width: 100px;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 20px;
}

body .mainprensa {
  background: url(../assets/img/piedras.JPG);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

body .mainprensa .publicidad {
  border: 5px solid black;
  border-radius: 0px;
}

body .mainprensa .botonesprensa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .mainprensa .botonesprensa .botonprensa, body .mainprensa .botonesprensa .botonprensa--inicio {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  margin-top: 20px;
  background-color: white;
}

body .mainprensa .botonesprensa .botonprensa .a, body .mainprensa .botonesprensa .botonprensa--inicio .a {
  color: black;
  text-decoration: none;
}

body .mainprensa .botonesprensa .botonprensa--inicio {
  background-color: #eb6e44;
}

body .mainprensa .botonesprensa .botonprensa--inicio .b {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 340px) and (max-width: 576px) {
  body .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .footer .texto {
    font-size: 8px;
  }
  body .footer .logosredes {
    padding-top: 1 px;
    margin-top: 1 px;
  }
  body .footer .logosredes__face {
    width: 5px;
  }
  body .footer .logosredes__instagram,
  body .footer .logosredes__wa {
    width: 4px;
  }
  body .main {
    margin: 0;
    min-height: 85vh;
    display: -ms-grid;
    display: grid;
    background-color: black;
    color: whitesmoke;
    -ms-grid-columns: repeat 1, 1fr;
        grid-template-columns: repeat 1, 1fr;
    -ms-grid-rows: repeat 8, minmax(300px, 100px);
        grid-template-rows: repeat 8, minmax(300px, 100px);
        grid-template-areas: "foto" "envianos" "celular" "nombre" "correo" "mensaje" "mensaje" "enviar";
  }
  body label {
    display: block;
  }
  body .envianos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: envianos;
    text-align: center;
  }
  body .nombre {
    text-align: center;
  }
  body .correo {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: correo;
    text-align: center;
  }
  body .mensaje {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: mensaje;
    text-align: center;
  }
  body .enviar {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: enviar;
    text-align: center;
  }
  body .foto {
    padding-top: 30px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: foto;
  }
  body .celular {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: celular;
    text-align: center;
  }
  body .pasion {
    margin: 0;
    min-height: 85vh;
    display: -ms-grid;
    display: grid;
    background-color: black;
    color: whitesmoke;
    font-family: "Dosis", sans-serif;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "pasiontitulo" "pasionfoto" "pasiontexto";
  }
  body .pasionfoto {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: pasionfoto;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body .pasiontitulo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: pasiontitulo;
    text-align: center;
    padding-top: 10px;
  }
  body .pasiontexto {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: pasiontexto;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  body .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .footer .texto {
    font-size: 10px;
  }
  body .footer .logosredes {
    padding-top: 1 px;
    margin-top: 1 px;
  }
  body .footer .logosredes__face {
    width: 5px;
  }
  body .footer .logosredes__instagram,
  body .footer .logosredes__wa {
    width: 6px;
  }
  body .pasionfoto {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: pasionfoto;
    justify-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 10px;
    margin-left: 10px;
  }
  body .pasiontitulo {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: pasiontitulo;
    text-align: center;
    padding-top: 15px;
  }
  body .pasiontexto {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: pasiontexto;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  body .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .footer .email {
    font-size: 12px;
  }
  body .footer .texto {
    font-size: 12px;
  }
  body .footer .logosredes {
    padding-top: 1 px;
    margin-top: 1 px;
  }
  body .footer .logosredes__face {
    width: 7px;
  }
  body .footer .logosredes__instagram,
  body .footer .logosredes__wa {
    width: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  body .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "foto14 foto14 foto16" "foto5 texto1 foto16" "foto5 texto1 foto10";
    -ms-grid-rows: 2.24fr 1fr 1.52fr;
        grid-template-rows: 2.24fr 1fr 1.52fr;
    -ms-grid-columns: 1.33fr 1.92fr 1fr;
        grid-template-columns: 1.33fr 1.92fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 80vh;
  }
  body #grilla .foto--foto14 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: foto14;
  }
  body #grilla .foto--foto14 .logo__imagen {
    border: 1px solid black;
    border-radius: 22px;
  }
  body #grilla .foto--foto16 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: foto16;
  }
  body #grilla .foto--foto16 .logo__imagen {
    border: 1px solid black;
    border-radius: 22px;
  }
  body #grilla .foto--foto10 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: foto10;
  }
  body #grilla .foto--foto10 .logo__imagen {
    border: 1px solid black;
    border-radius: 22px;
  }
  body #grilla .foto--foto5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: foto5;
  }
  body #grilla .foto--foto5 .logo__imagen {
    border: 1px solid black;
    border-radius: 22px;
  }
  body #grilla .texto1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: texto1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 5px black;
            box-shadow: 5px 5px 5px black;
    padding: 70px;
    background: url(../assets/img/textura.jpg);
  }
  body #grilla .texto1 .texto {
    font-family: "Dosis", sans-serif;
    width: 100%;
    text-align: center;
  }
  body #grilla .texto1 .titulo {
    font-family: "Dosis", sans-serif;
    text-align: center;
  }
  body #grilla .texto1 .boton {
    width: 100px;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */