<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--ETIQUETAS SEO-->
    <meta name="description" content="Muchos cursos de perfeccionamiento y trabajos publicados me avalan">
    <meta name="keyword" content="articulos, prensa, diplomas, titulos"> 
    <!--CSS nuestro-->
    <link rel="stylesheet" href="../scss/main.css">
    <title>Articulos y cursos realizados</title>
</head> 
<body>
    <div class="container">
        <div id="grillaprensa">
            <div class="foto--prensa">
                <img class="imagen--prensa" src="../assets/img/titulos/d1.JPG">
            </div>
            <div class="foto--prensa">
                <img class="imagen--prensa" src="../assets/img/titulos/d2.JPG">
            </div>
            <div class="foto--prensa">
                <img class="imagen--prensa" src="../assets/img/titulos/d3.JPG">
            </div>
            <div class="foto--prensa">
                <img class="imagen--prensa" src="../assets/img/titulos/d4.JPG">
            </div>
            <div class="foto--prensa">
                <img class="imagen--prensa" src="../assets/img/titulos/d5.JPG">
            </div>
            <div class="foto--prensa">
                <img class="imagen--prensa" src="../assets/img/titulos/d6.JPG">
            </div>
            <div class="foto--prensa">
                <img class="imagen--prensa" src="../assets/img/titulos/d7.JPG">
            </div>
            <div class="foto--prensa">
                <img class="imagen--prensa" src="../assets/img/titulos/d8.JPG">
            </div>
            <div class="foto--prensa">
                <img class="imagen--prensa" src="../assets/img/titulos/clarin.jpg">
            </div>
            <div class="foto--prensa">
                <img class="imagen--prensa" src="../assets/img/titulos/walmer.jpg">
            </div>
            <div class="foto--prensa">
                <img class="imagen--prensa" src="../assets/img/titulos/d7.JPG">
            </div>
            <div class="foto--prensa">
                <img class="imagen--prensa" src="../assets/img/titulos/d8.JPG">
            </div>

            
            <div class="textoprensa">
                <h1 class="tituloprensa">Menciones de prensa y cursos</h1>
                <div class="botonesprensa"> 
                    <button class="botonprensa">
                        <a class="a" href="./proyectos.html">Volver</a>
                    </button>
                    <button class="botonprensa--inicio">
                        <a class="b" href="../index.html">Inicio</a>
                    </button>
                </div>    
            </div>
        </div>
    </div>
    <!--
        <div class="container">
        <div class="mainprensa">
            <h2>Menciones en la prensa</h2>
            <div class="publicidad">
                    <img class="clarin" src="../assets/img/clarin.jpg">
                    <img class="walmart" src="../assets/img/walmer.jpg">
            </div>
            <div class="botonesprensa"> 
                <button class="botonprensa">
                    <a class="a" href="./proyectos.html">Volver</a>
                </button>
                <button class="botonprensa--inicio">
                    <a class="b" href="../index.html">Inicio</a>
                </button>
            </div>
        </div>
    -->    
    </div>

</body>
</html>