<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--ETIQUETAS SEO-->
    <meta name="description" content="Muchos cursos de perfeccionamiento y trabajos publicados me avalan">
    <meta name="keyword" content="articulos, prensa, diplomas, titulos"> 
    <!--FAVICON-->
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <!--CSS nuestro-->
    <link rel="stylesheet" href="../scss/main.css">
    <title>Articulos y cursos realizados</title>
</head> 
<body>
    <div class="container">
        <div id="grillaprensa">
            <div class="fotoprensa">
                <img class="prensa" src="../assets/img/titulos/d1.JPG" alt="titulos varios">
            </div>
            <div class="fotoprensa">
                <img class="prensa" src="../assets/img/titulos/d2.JPG" alt="titulos varios">
            </div>
            <div class="fotoprensa">
                <img class="prensa" src="../assets/img/titulos/d3.JPG" alt="titulos varios">
            </div>
            <div class="fotoprensa">
                <img class="prensa" src="../assets/img/titulos/d4.JPG" alt="titulos varios">
            </div>
            <div class="fotoprensa">
                <img class="prensa" src="../assets/img/titulos/d5.JPG" alt="titulos varios">
            </div>
            <div class="fotoprensa">
                <img class="prensa" src="../assets/img/titulos/d6.JPG" alt="titulos varios">
            </div>
            <div class="fotoprensa">
                <img class="prensa" src="../assets/img/titulos/d7.JPG" alt="titulos varios">
            </div>
            <div class="fotoprensa">
                <img class="prensa" src="../assets/img/titulos/d8.JPG" alt="titulos varios">
            </div>
            <div class="fotoprensa">
                <img class="prensa" src="../assets/img/titulos/clarin.jpg" alt="clarin">
            </div>
            <div class="fotoprensa">
                <img class="prensa" src="../assets/img/titulos/walmer.jpg" alt="walmer">>
            </div>
            <div class="fotoprensa">
                <img class="prensa" src="../assets/img/titulos/d7.JPG" alt="titulos varios">>
            </div>
            <div class="fotoprensa">
                <img class="prensa" src="../assets/img/titulos/d8.JPG" alt="titulos varios">>
            </div>

            
            <div class="textoprensa">
                <h1 class="tituloprensa">Menciones de prensa y cursos</h1>
                <div class="botonesprensa"> 
                    <button class="botonprensa">
                        <a class="a" href="./proyectos.html">Volver</a>
                    </button>
                    <button class="botonprensa--inicio">
                        <a class="b" href="../index.html">Inicio</a>
                    </button>
                </div>    
            </div>
        </div>
    </div>
</body>
</html>